<app-header titulo="Grid - Row"></app-header>

<!-- El fullscreen hace que cuando haga scroll el contenido pase por toda la pantalla
esto es para que cuando pongamos el header con el translucent y se vea transparente
se vea el contenido subiendo -->
<ion-content fullscreen>

    <!-- El fixed me agrega un margen a los lados y me permite contrarlo como quiera -->
    <ion-grid fixed>

        <!--         <ion-row>
            <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
                {{ i+1 }}
            </ion-col>
        </ion-row> -->

        <ion-row>
            <ion-col size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1];">

                <ion-card>
                    <ion-img src="/assets/shapes.svg"></ion-img>
                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Card Title</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam veniam consectetur quisquam voluptates itaque sint cupiditate sunt dolores, velit autem, ipsa animi aperiam fugit beatae saepe perspiciatis culpa officia repellat.
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>


    </ion-grid>

</ion-content>