<ion-app>

    <ion-split-pane contentId="principal" when="md">

        <!--     <app-menu></app-menu> -->

        <!-- menuId habilito y desabilito otrs menu  -->
        <!-- contentId este id se lo paso al <ion -router-outlet> -->
        <ion-menu side="start" menuId="primerMenu" contentId="principal">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>Menú Componentes</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>

                    <!-- Para hacer que cuando de click en el menu y se cierre  <ion-menu-toggle> -->
                    <!--  autoHide="false" dice que no se oculte de forma automatica -->
                    <ion-menu-toggle autoHide="false" *ngFor="let c of componentes | async">
                        <ion-item [routerLink]="c.redirectTo">
                            <ion-icon slot="start" [name]="c.icon"></ion-icon>
                            <ion-label> {{c.name}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                </ion-list>
            </ion-content>
        </ion-menu>


        <ion-router-outlet id="principal"></ion-router-outlet>

    </ion-split-pane>




</ion-app>